{%extends 'base.html'%}
{%block title%}top rated{%endblock%}

{%block content%}
<h1 class="text-center mb-4">Top Rated</h1>

<div class="container">
    <div class="row">
        {% for movie in res %}
        <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-4">
            <div class="card h-100 text-center bg-dark text-white">
                <img src="{{ movie.picture }}" class="card-img-top" alt="{{ movie.title }}">
                <div class="card-body">
                    <h3 class="card-title">Title:</h3>
                    <p>{{ movie.title }}</p>
                    <h4> Description</h4>
                    <p class="card-text">{{ movie.desc|truncatewords:20 }}</p>
                    <p>Rate:{{movie.rate}}</p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
<div class="text-center align-items-center">
    <form method=" get">
        <input type="hidden" name="page" value="{{ page|add:'1' }}">
        <button type="submit" class="btn btn-dark mt-2">Load More</button>
    </form>
</div>


</div>
{%endblock%}